osu!.tmproj
*.pfx
*.user
*DS_Store*
*/bin/*
*/obj/*
*ReSharper*
*resharper*
*.suo

osu!installer/output/*
OpenTK/GLControl/GLControl.resources
OpenTK/OpenTK.pidb
OpenTK/OpenTK/Properties/Resources.resources
osum/osum.pidb
osum/osum-iphone.userprefs
osum/test.mp3