osu!.tmproj
*.pfx
*.user
*DS_Store*
*/bin/*
*/obj/*
*ReSharper*
*resharper*
*.suo

osu!installer/output/*
OpenTK/GLControl/GLControl.resources
OpenTK/OpenTK.pidb
OpenTK/OpenTK/Properties/Resources.resources
osum/osum.pidb
osum/osum-iphone.userprefs
osum/test.mp3
osum/osu!m-desktop.pidb
osum/osu!m-desktop.userprefs
*.vsp
osum.ipa
osu!stream/Resources/Resource.designer.cs

Output/*
*.userprefs
osum/osum.sublime-project
osu!m-desktop.sln.docstates
osum/Resources/Tutorial*.resources
Sounds/*
*.ipa
*.pidb
*.sublime-project
*._*
Music/*

*.sublime-workspace
Crash Logs/*
App Store Submission/Archived Builds
\.vs/osu!stream/xs/



.vs/*