<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIStatusBarHidden</key>
	<string>YES</string>
	<key>UIFileSharingEnabled</key>
	<string>YES</string>
	<key>UILaunchImageFile</key>
	<string>Support/iPhone/loading</string>
	<key>UIPrerenderedIcon</key>
	<string>YES</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
