# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.osu!stream_android.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
